# **PRÁCTICA 2 - TAA**

Pablo Martín de Benito

***

In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz, export_text

In [3]:
tabla = pd.DataFrame(columns=['A','B','C','D','E','F'], index = np.arange(64,dtype=int))
tabla

      A    B    C    D    E    F
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
59  NaN  NaN  NaN  NaN  NaN  NaN
60  NaN  NaN  NaN  NaN  NaN  NaN
61  NaN  NaN  NaN  NaN  NaN  NaN
62  NaN  NaN  NaN  NaN  NaN  NaN
63  NaN  NaN  NaN  NaN  NaN  NaN

[64 rows x 6 columns]

***

In [4]:
bin(13),bin(35) # Devuelve una cabecera que es 0b y los digitos de su codificación en binario natural.

('0b1101', '0b100011')

In [5]:
for i in range(64):
    b = bin(i)[2:]    # Nos quedamos solo con el binario.
    aux = ''
    for k in range(6-len(b)):
        aux += '0'
    b = aux + b
    for j in range(6):
        tabla.iloc[i,j] = b[j]

In [8]:
type(tabla.iloc[1,1])

str

In [9]:
np.array(tabla).astype(int).astype(bool)

array([[False, False, False, False, False, False],
       [False, False, False, False, False,  True],
       [False, False, False, False,  True, False],
       [False, False, False, False,  True,  True],
       [False, False, False,  True, False, False],
       [False, False, False,  True, False,  True],
       [False, False, False,  True,  True, False],
       [False, False, False,  True,  True,  True],
       [False, False,  True, False, False, False],
       [False, False,  True, False, False,  True],
       [False, False,  True, False,  True, False],
       [False, False,  True, False,  True,  True],
       [False, False,  True,  True, False, False],
       [False, False,  True,  True, False,  True],
       [False, False,  True,  True,  True, False],
       [False, False,  True,  True,  True,  True],
       [False,  True, False, False, False, False],
       [False,  True, False, False, False,  True],
       [False,  True, False, False,  True, False],
       [False,  True, False, False,  True,  True],
       [False,  True, False,  True, False, False],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True,  True, False],
       [False,  True, False,  True,  True,  True],
       [False,  True,  True, False, False, False],
       [False,  True,  True, False, False,  True],
       [False,  True,  True, False,  True, False],
       [False,  True,  True, False,  True,  True],
       [False,  True,  True,  True, False, False],
       [False,  True,  True,  True, False,  True],
       [False,  True,  True,  True,  True, False],
       [False,  True,  True,  True,  True,  True],
       [ True, False, False, False, False, False],
       [ True, False, False, False, False,  True],
       [ True, False, False, False,  True, False],
       [ True, False, False, False,  True,  True],
       [ True, False, False,  True, False, False],
       [ True, False, False,  True, False,  True],
       [ True, False, False,  True,  True, False],
       [ True, False, False,  True,  True,  True],
       [ True, False,  True, False, False, False],
       [ True, False,  True, False, False,  True],
       [ True, False,  True, False,  True, False],
       [ True, False,  True, False,  True,  True],
       [ True, False,  True,  True, False, False],
       [ True, False,  True,  True, False,  True],
       [ True, False,  True,  True,  True, False],
       [ True, False,  True,  True,  True,  True],
       [ True,  True, False, False, False, False],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False,  True, False],
       [ True,  True, False, False,  True,  True],
       [ True,  True, False,  True, False, False],
       [ True,  True, False,  True, False,  True],
       [ True,  True, False,  True,  True, False],
       [ True,  True, False,  True,  True,  True],
       [ True,  True,  True, False, False, False],
       [ True,  True,  True, False, False,  True],
       [ True,  True,  True, False,  True, False],
       [ True,  True,  True, False,  True,  True],
       [ True,  True,  True,  True, False, False],
       [ True,  True,  True,  True, False,  True],
       [ True,  True,  True,  True,  True, False],
       [ True,  True,  True,  True,  True,  True]])

In [10]:
tabla_logica = pd.DataFrame(columns = ['A','B','C','D','E','F'], data=np.array(tabla).astype(int).astype(bool))

In [11]:
tabla_logica

        A      B      C      D      E      F
0   False  False  False  False  False  False
1   False  False  False  False  False   True
2   False  False  False  False   True  False
3   False  False  False  False   True   True
4   False  False  False   True  False  False
..    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True
60   True   True   True   True  False  False
61   True   True   True   True  False   True
62   True   True   True   True   True  False
63   True   True   True   True   True   True

[64 rows x 6 columns]

In [9]:
f = ((tabla_logica.A & tabla_logica.B) | (~tabla_logica.C & tabla_logica.D)) ^ (tabla_logica.E | ~tabla_logica.F)

In [10]:
f

0      True
1     False
2      True
3      True
4     False
      ...
59    False
60    False
61     True
62    False
63    False
Length: 64, dtype: bool

In [11]:
tabla_logica.insert(loc = len(tabla_logica.columns), column = 'f', value = np.array(f,dtype = bool))

In [12]:
tabla_logica

        A      B      C      D      E      F      f
0   False  False  False  False  False  False   True
1   False  False  False  False  False   True  False
2   False  False  False  False   True  False   True
3   False  False  False  False   True   True   True
4   False  False  False   True  False  False  False
..    ...    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True  False
60   True   True   True   True  False  False  False
61   True   True   True   True  False   True   True
62   True   True   True   True   True  False  False
63   True   True   True   True   True   True  False

[64 rows x 7 columns]

In [13]:
clf = DecisionTreeClassifier(criterion='entropy')

In [14]:
clf.fit(X=tabla_logica.iloc[:,:-1], y=tabla_logica.iloc[:,-1])

DecisionTreeClassifier(criterion='entropy')

In [15]:
clf.score(X=tabla_logica.iloc[:,:-1], y=tabla_logica.iloc[:,-1])

1.0

In [16]:
np.mean(clf.predict(X=tabla_logica.iloc[:,:-1]) == tabla_logica.iloc[:,-1])

1.0

In [17]:
export_graphviz(clf, out_file='tree_logical.dot', feature_names=tabla_logica.columns[:-1],class_names=True)

In [18]:
!dot 'tree_logical.dot' -Tpng -o tree_logical.png

In [19]:
tabla_logica.to_csv('tabla_logica.csv', index=False)

In [20]:
# En modo markdown...
# ![tree_logical.png](./tree_logical.png)

![tree_logical.png](./tree_logical.png)

***

***

### **Importar 'six', que necesita Id3Estimator**

In [21]:
import six
import sys
sys.modules['sklearn.externals.six'] = six
# Estos tres modulos son imprescindibles para el ID3

### **Importar el resto de módulos para la 1ª parte**

In [22]:
import pandas as pd
import numpy as np
from id3 import Id3Estimator, export_graphviz

**Leer tabla "Credito.csv"**

In [23]:
df = pd.read_csv("Credito.csv", header=0)

In [24]:
riesgo = ['bajo','moderado','alto']
for i,j in enumerate(riesgo):  # enumerate va recorriendo un conjunto y a la vez va numerando los elementos que va extrayendo
    df.iloc[df['Riesgo'] == j, 1] = i
df

    Nº Riesgo     Historia Deuda     Avales   Ingresos
0    1      2         mala  alta         no     0 a 2M
1    2      2  desconocida  alta         no     2 a 5M
2    3      1  desconocida  baja         no     2 a 5M
3    4      2  desconocida  baja         no     0 a 2M
4    5      0  desconocida  baja         no  más de 5M
5    6      0  desconocida  baja  adecuados  más de 5M
6    7      2         mala  baja         no     0 a 2M
7    8      1         mala  baja  adecuados  más de 5M
8    9      0        buena  baja         no  más de 5M
9   10      0        buena  alta  adecuados  más de 5M
10  11      2        buena  alta         no     0 a 2M
11  12      1        buena  alta         no     2 a 5M
12  13      0        buena  alta         no  más de 5M
13  14      2         mala  alta         no     2 a 5M

In [25]:
# Esto con todas...

In [26]:
historia = ['mala','desconocida','buena']
for i,j in enumerate(historia):  # enumerate va recorriendo un conjunto y a la vez va numerando los elementos que va extrayendo
    df.iloc[df['Historia'] == j, 2] = i
df

    Nº Riesgo Historia Deuda     Avales   Ingresos
0    1      2        0  alta         no     0 a 2M
1    2      2        1  alta         no     2 a 5M
2    3      1        1  baja         no     2 a 5M
3    4      2        1  baja         no     0 a 2M
4    5      0        1  baja         no  más de 5M
5    6      0        1  baja  adecuados  más de 5M
6    7      2        0  baja         no     0 a 2M
7    8      1        0  baja  adecuados  más de 5M
8    9      0        2  baja         no  más de 5M
9   10      0        2  alta  adecuados  más de 5M
10  11      2        2  alta         no     0 a 2M
11  12      1        2  alta         no     2 a 5M
12  13      0        2  alta         no  más de 5M
13  14      2        0  alta         no     2 a 5M

In [27]:
deuda = ['baja','alta']
for i,j in enumerate(deuda):  # enumerate va recorriendo un conjunto y a la vez va numerando los elementos que va extrayendo
    df.iloc[df['Deuda'] == j, 3] = i
df

    Nº Riesgo Historia Deuda     Avales   Ingresos
0    1      2        0     1         no     0 a 2M
1    2      2        1     1         no     2 a 5M
2    3      1        1     0         no     2 a 5M
3    4      2        1     0         no     0 a 2M
4    5      0        1     0         no  más de 5M
5    6      0        1     0  adecuados  más de 5M
6    7      2        0     0         no     0 a 2M
7    8      1        0     0  adecuados  más de 5M
8    9      0        2     0         no  más de 5M
9   10      0        2     1  adecuados  más de 5M
10  11      2        2     1         no     0 a 2M
11  12      1        2     1         no     2 a 5M
12  13      0        2     1         no  más de 5M
13  14      2        0     1         no     2 a 5M

In [28]:
avales = ['no','adecuados']
for i,j in enumerate(avales):  # enumerate va recorriendo un conjunto y a la vez va numerando los elementos que va extrayendo
    df.iloc[df['Avales'] == j, 4] = i
df

    Nº Riesgo Historia Deuda Avales   Ingresos
0    1      2        0     1      0     0 a 2M
1    2      2        1     1      0     2 a 5M
2    3      1        1     0      0     2 a 5M
3    4      2        1     0      0     0 a 2M
4    5      0        1     0      0  más de 5M
5    6      0        1     0      1  más de 5M
6    7      2        0     0      0     0 a 2M
7    8      1        0     0      1  más de 5M
8    9      0        2     0      0  más de 5M
9   10      0        2     1      1  más de 5M
10  11      2        2     1      0     0 a 2M
11  12      1        2     1      0     2 a 5M
12  13      0        2     1      0  más de 5M
13  14      2        0     1      0     2 a 5M

In [29]:
ingresos = ['0 a 2M', '2 a 5M', 'más de 5M']
for i,j in enumerate(ingresos):  # enumerate va recorriendo un conjunto y a la vez va numerando los elementos que va extrayendo
    df.iloc[df['Ingresos'] == j, 5] = i
df

    Nº Riesgo Historia Deuda Avales Ingresos
0    1      2        0     1      0        0
1    2      2        1     1      0        1
2    3      1        1     0      0        1
3    4      2        1     0      0        0
4    5      0        1     0      0        2
5    6      0        1     0      1        2
6    7      2        0     0      0        0
7    8      1        0     0      1        2
8    9      0        2     0      0        2
9   10      0        2     1      1        2
10  11      2        2     1      0        0
11  12      1        2     1      0        1
12  13      0        2     1      0        2
13  14      2        0     1      0        1

In [30]:
clf = Id3Estimator()
X = np.array(df.iloc[:,1:]).astype(float)
y = np.array(df.iloc[:,0]).astype(int)

In [31]:
clf.fit(X,y)

Id3Estimator()

In [32]:
export_graphviz(clf.tree_, out_file = 'tree_credito_id3.dot', feature_names=df.columns[1:])

In [33]:
!dot -Tpng tree_credito_id3.dot -o tree_credito_id3.png -Gpi = 600

Error: dot: can't open =
Error: dot: can't open 600

![tree_credito_id3.png](./tree_credito_id3.png)

***

### **Segunda Parte**

In [34]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz, plot_tree

In [35]:
clf1 = DecisionTreeClassifier(criterion='entropy')

In [36]:
X = np.array(df.iloc[:,1:], dtype = float)
y = np.array(df.iloc[:,0], dtype = int).reshape(-1,1)

In [37]:
clf1.fit(X,y)

DecisionTreeClassifier(criterion='entropy')

In [38]:
export_graphviz(clf1, out_file = 'tree_credito_CART.dot', feature_names=df.columns[1:])

In [39]:
!dot -Tpng tree_credito_CART.dot -o tree_credito_CART.png -Gdpi=600

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.946558 to fit

In [40]:
np.mean(clf1.predict(X == y))

6.571428571428571

![tree_credito_CART.png](./tree_credito_CART.png)