In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz, export_text

In [2]:
tabla = pd.DataFrame(columns=['A','B','C','D','E','F'], index = np.arange(64,dtype=int))
tabla

      A    B    C    D    E    F
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
59  NaN  NaN  NaN  NaN  NaN  NaN
60  NaN  NaN  NaN  NaN  NaN  NaN
61  NaN  NaN  NaN  NaN  NaN  NaN
62  NaN  NaN  NaN  NaN  NaN  NaN
63  NaN  NaN  NaN  NaN  NaN  NaN

[64 rows x 6 columns]

***

In [3]:
bin(13),bin(35) # Devuelve una cabecera que es 0b y los digitos de su codificación en binario natural.

('0b1101', '0b100011')

In [4]:
for i in range(64):
    b = bin(i)[2:]    # Nos quedamos solo con el binario.
    aux = ''
    for k in range(6-len(b)):
        aux += '0'
    b = aux + b
    for j in range(6):
        tabla.iloc[i,j] = b[j]

In [5]:
tabla

    A  B  C  D  E  F
0   0  0  0  0  0  0
1   0  0  0  0  0  1
2   0  0  0  0  1  0
3   0  0  0  0  1  1
4   0  0  0  1  0  0
.. .. .. .. .. .. ..
59  1  1  1  0  1  1
60  1  1  1  1  0  0
61  1  1  1  1  0  1
62  1  1  1  1  1  0
63  1  1  1  1  1  1

[64 rows x 6 columns]

In [6]:
np.array(tabla).astype(int).astype(bool)

array([[False, False, False, False, False, False],
       [False, False, False, False, False,  True],
       [False, False, False, False,  True, False],
       [False, False, False, False,  True,  True],
       [False, False, False,  True, False, False],
       [False, False, False,  True, False,  True],
       [False, False, False,  True,  True, False],
       [False, False, False,  True,  True,  True],
       [False, False,  True, False, False, False],
       [False, False,  True, False, False,  True],
       [False, False,  True, False,  True, False],
       [False, False,  True, False,  True,  True],
       [False, False,  True,  True, False, False],
       [False, False,  True,  True, False,  True],
       [False, False,  True,  True,  True, False],
       [False, False,  True,  True,  True,  True],
       [False,  True, False, False, False, False],
       [False,  True, False, False, False,  True],
       [False,  True, False, False,  True, False],
       [False,  True, False, False,  True,  True],
       [False,  True, False,  True, False, False],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True,  True, False],
       [False,  True, False,  True,  True,  True],
       [False,  True,  True, False, False, False],
       [False,  True,  True, False, False,  True],
       [False,  True,  True, False,  True, False],
       [False,  True,  True, False,  True,  True],
       [False,  True,  True,  True, False, False],
       [False,  True,  True,  True, False,  True],
       [False,  True,  True,  True,  True, False],
       [False,  True,  True,  True,  True,  True],
       [ True, False, False, False, False, False],
       [ True, False, False, False, False,  True],
       [ True, False, False, False,  True, False],
       [ True, False, False, False,  True,  True],
       [ True, False, False,  True, False, False],
       [ True, False, False,  True, False,  True],
       [ True, False, False,  True,  True, False],
       [ True, False, False,  True,  True,  True],
       [ True, False,  True, False, False, False],
       [ True, False,  True, False, False,  True],
       [ True, False,  True, False,  True, False],
       [ True, False,  True, False,  True,  True],
       [ True, False,  True,  True, False, False],
       [ True, False,  True,  True, False,  True],
       [ True, False,  True,  True,  True, False],
       [ True, False,  True,  True,  True,  True],
       [ True,  True, False, False, False, False],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False,  True, False],
       [ True,  True, False, False,  True,  True],
       [ True,  True, False,  True, False, False],
       [ True,  True, False,  True, False,  True],
       [ True,  True, False,  True,  True, False],
       [ True,  True, False,  True,  True,  True],
       [ True,  True,  True, False, False, False],
       [ True,  True,  True, False, False,  True],
       [ True,  True,  True, False,  True, False],
       [ True,  True,  True, False,  True,  True],
       [ True,  True,  True,  True, False, False],
       [ True,  True,  True,  True, False,  True],
       [ True,  True,  True,  True,  True, False],
       [ True,  True,  True,  True,  True,  True]])

In [7]:
tabla_logica = pd.DataFrame(columns = ['A','B','C','D','E','F'], data=np.array(tabla).astype(int).astype(bool))

In [8]:
tabla_logica

        A      B      C      D      E      F
0   False  False  False  False  False  False
1   False  False  False  False  False   True
2   False  False  False  False   True  False
3   False  False  False  False   True   True
4   False  False  False   True  False  False
..    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True
60   True   True   True   True  False  False
61   True   True   True   True  False   True
62   True   True   True   True   True  False
63   True   True   True   True   True   True

[64 rows x 6 columns]

In [9]:
f = ((tabla_logica.A & tabla_logica.B) | (~tabla_logica.C & tabla_logica.D)) ^ (tabla_logica.E | ~tabla_logica.F)

In [10]:
f

0      True
1     False
2      True
3      True
4     False
      ...
59    False
60    False
61     True
62    False
63    False
Length: 64, dtype: bool

In [13]:
tabla_logica.insert(loc = len(tabla_logica.columns), column = 'f', value = np.array(f,dtype = bool))

ValueError: cannot insert f, already exists

In [14]:
tabla_logica

        A      B      C      D      E      F      f
0   False  False  False  False  False  False   True
1   False  False  False  False  False   True  False
2   False  False  False  False   True  False   True
3   False  False  False  False   True   True   True
4   False  False  False   True  False  False  False
..    ...    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True  False
60   True   True   True   True  False  False  False
61   True   True   True   True  False   True   True
62   True   True   True   True   True  False  False
63   True   True   True   True   True   True  False

[64 rows x 7 columns]

In [15]:
clf = DecisionTreeClassifier(criterion='entropy')

In [18]:
clf.fit(X=tabla_logica.iloc[:,:-1], y=tabla_logica.iloc[:,-1])

DecisionTreeClassifier(criterion='entropy')

In [27]:
clf.score(X=tabla_logica.iloc[:,:-1], y=tabla_logica.iloc[:,-1])

1.0

In [28]:
np.mean(clf.predict(X=tabla_logica.iloc[:,:-1]) == tabla_logica.iloc[:,-1])

1.0

In [29]:
export_graphviz(clf, out_file='tree_logical.dot', feature_names=tabla_logica.columns[:-1],class_names=True)

In [30]:
!dot 'tree_logical.dot' -Tpng -o tree_logical.png

In [31]:
tabla_logica.to_csv('tabla_logica.csv', index=False)

In [ ]:
# En modo markdown...
# ![tree_logical.png](./tree_logical.png)

![tree_logical.png](./tree_logical.png)